body{
    background-color:
        #1E1E1E;
    color:#FFFFFF;
}
ul{
    list-style: lower-greek;
}
.abc{
    color: blueviolet;
}
a:visited{
    color: forestgreen;
}
a:hover{
    color: burlywood;
}